.filter-bar {
  border-radius: 0;
  padding: 1px 10px;
  width: 100%;
  height: 50px;
  font-size: inherit;
  box-sizing: border-box;
  background: transparent;
  background-color: #1e2124;
  border: 1px solid #000000;
  color: #ffffff;
}

.filter-bar::placeholder {
  font-style: italic;
}
